## Try 2.2.1: Lists.

* **Click the double-right arrow to restart the kernel and run all cells.**
* **Examine the code below.**

* **In cell [4], change the argument of the pop() method to 1. Restart the kernel and run all cells to see the changes.**

In [5]:
# Create a list
l = [33, 2, 14]

In [ ]:
# Find the length of the list
len(l)

33

In [10]:
sum(l)

49

In [3]:
# Append 'apples' to the list
l.append('apples')
l

[33, 2, 14, 'apples']

In [4]:
# Pop and display the first list element
l.pop(0)

33

In [5]:
# Print the list
l
# Current list contains 2, 14, and 'apples'

[2, 14, 'apples']

In [6]:
# Remove 14 from the list
l.remove(14)
l

[2, 'apples']

In [7]:
l + ['bananas', 'pineapples']

[2, 'apples', 'bananas', 'pineapples']

## Try 2.2.2: Tuples and named tuples.

* **Click the double-right arrow to restart the kernel and run all cells.**
* **Examine the code below.**
* **In cell [4], uncomment whiteHouse[1] = 50. Restart the kernel and run all cells to see the changes.**

In [9]:
# Create a tuple
whiteHouse = (38.8977, 77.0366)
type(whiteHouse)

tuple

In [3]:
# Print tuple elements and length
print('Coordinates:', whiteHouse)
print('Latitude:', whiteHouse[0])
print('Longitude:', whiteHouse[1])
print('Tuple length:', len(whiteHouse))

Coordinates: (38.8977, 77.0366)
Latitude: 38.8977
Longitude: 77.0366
Tuple length: 2

In [10]:
# The commented line below produces an error
whiteHouse[1] = 50

TypeError: 'tuple' object does not support item assignment

## Try 2.2.3: Sets.


* **Click the double-right arrow to restart the kernel and run all cells.**

* **Examine the code below.**

* **Did any of the results give an empty set? Why?**

In [11]:
# Create a set
s = {'abc', 'xyz'}
s

{'abc', 'xyz'}

In [17]:
s1 = set([1,'aabc'])
s1

{1, 'aabc'}

In [12]:
# Add 'banana' to the set
s.add('banana')
s

{'abc', 'banana', 'xyz'}

In [13]:
# Remove 'abc' from the set
s.remove('abc')
s

{'banana', 'xyz'}

In [14]:
# Remove a random element from the set
s.pop()
s

{'xyz'}

In [15]:
# Display the union of set and {'xyz', 44}
s.union({'xyz', 44})

{44, 'xyz'}

In [16]:
# Display the intersection of set and {'xyz', 44}
s.intersection({'xyz', 44})

{'xyz'}

In [18]:
d = {'LAX': 161, 'DEN': 141}
d

{'LAX': 161, 'DEN': 141}

In [19]:
d1 = {}
d1

{}

In [20]:
len(d)

2

In [21]:
del d['DEN']
d

{'LAX': 161}

In [22]:
d['LAX'] = 165 #update value
d

{'LAX': 165}

In [23]:
d['DFW'] = 139 #add new key-value pair
d

{'LAX': 165, 'DFW': 139}